
<html>
{% if loginSucced is sameas true %}
<head>
	<title>{{ title }}</title>
</head>

<body bgcolor= {{ backgroundColor }} >
<h1>{{ title }}</h1><br>

Welcome {{ userName }}!<br>	
<!-- <hr> -->
<!-- (This section of the page is not required.)<br><br>
<table width="500">
	<tr><td><a href="assignment11.html">Refresh page</a></td>
		<td><a href="assignment11-account-info.html">Account info file</a></td>
		<td><a href="assignment11-account-info-backup.txt">Account info file (backup)</a></td>
		<td><a href="assignment11.html?reset=true">Reset accounts</a></td>
	</tr>
</table> -->
<br>
{% if editSucceed is sameas true %}
Account information for successfully edited.<br><hr><br>	
{% else %}
User {{ userName }} successfully logged in.<br><hr><br>		
{% endif %}
<img src= "{{ imagePath }}" width="200px" height="200px"><br><br>

	<form name="logoutForm" action="assignment11.html" method="get">
		<input type="hidden" name="logout" value="doLogout"><br>
		<input type="submit" value="Logout" />
	</form>
	
	<br><hr><br>

	<form name="editAccountForm" action="assignment11.html" method="get">
		<table>
			<tr>
				<td>First name:</td>
				<td><input type="text" name="fname" value= "{{ firstName }}" ></td>
			</tr>
			<tr>
				<td>Last name:</td>
				<td><input type="text" name="lname" value= "{{ lastName }}" ></td>
			</tr>
			<tr>
				<td>Background color:</td>
				<td><input type="text" name="bkcolor" value= "{{ backgroundColor }}" ></td>
			</tr>
			<tr>
				<td>Title:</td>
				<td><input type="text" name="title" value= "{{ title }}" ></td>
			</tr>
			<tr>
				<td>Image:</td>
				<td><input type="text" name="image" size="100" value= "{{ imagePath }}" ></td>
			</tr>
		</table>
		<input type="hidden" name="edit" value="true">
		<input type="submit" value="Edit Account Information" />

</body>


{% else %}
	<head>
		<title>Welcome to Michael Kim's Assignment 11 HTML page!</title>
	</head>

	<body bgcolor="white">
	<h1>Welcome to Michael Kim's Assignment 11 HTML page!</h1><br>

		
	<!-- <hr> -->
	<!-- (This section of the page is not required.)<br><br>
	<table width="500">
		<tr><td><a href="assignment11.html">Refresh page</a></td>
			<td><a href="assignment11-account-info.txt">Account info file</a></td>
			<td><a href="assignment11-account-info-backup.txt">Account info file (backup)</a></td>
			<td><a href="assignment11.html?reset=true">Reset accounts</a></td>
		</tr>
	</table> -->
	<br>
	{% if passwordMiss is sameas true %}
	<font color='red'>Incorrect password!</font>
	{% elif noUserExist is sameas true %}
	<font color='red'> User account not found.</font>
	{% elif logoutSucceed is sameas true %}
	{{ userName }} has logged out. 
	{% elif noNameForCreating is sameas true %}
	<font color='red'> Please enter a user name.</font>
	{% elif noPassForCreating is sameas true %}
	<font color='red'> Please enter a password.</font>
	{% elif nofNameForCreating is sameas true %}
	<font color='red'> Please enter a first name.</font>
	{% elif nolNameForCreating is sameas true %}
	<font color='red'> Please enter a last name.</font>
	{% elif userNameExistForCreating is sameas true %}
	<font color='red'> Can't create account. User '{{ userName }}' already exists.</font>
	{% else %}
	No login attempted.
	{% endif %}
	<br>
	<hr><br>If you have an existing account, log in here:<br>
		<form name="loginForm" action="assignment11.html" method="get">
			User name: <input type="text" name="user" /><br>
			Password: <input type="password" name="pass" /></br>
			<input type="submit" value="Login" />
		</form>
		<br>
		<hr>
		<br>
		Otherwise, if you'd like to create an account, please fill out the following form:<br>
		<form name="createAccountForm" action="assignment11.html" method="get">
			User name: <input type="text" name="user" /><br>
			Password: <input type="password" name="pass" /><br>
			First name: <input type="text" name="fname" /><br>
			Last name: <input type="text" name="lname" /><br>
			<input type="hidden" name="create" value="true">
			<input type="submit" value="Create Account" />
		</form>

	</body>

{% endif %}
</html>
